body, 
input,
select {
    background-color: #fffefe !important;
    color: #1067ca !important;
}

input, select, .btn-custom {
    border: 1px solid #f1902f  !important;
}

input:nth-child(1)  {
    border-right: 0px !important;
}

input:focus , select:focus {
    box-shadow: 0px !important;
}

.color-primary {
    color: #1067ca !important;
}

.color-secondary {
    color: #f1902f !important;
}

.color-neutral {
    color : #464646;
}

.btn-custom {
    background-color: #fffefe !important;
    color:  #f1902f !important;
}

.btn-custom:hover {
    background-color: #f1902f !important;
    color:  #fffefe !important;
}

hr {
    background-color: #1067ca;
}

/* CORES TRADUCOES */ 

.Sinonimo{
    color: #f1902f;
}

.Adjetivo, 
.Preposicao, 
.Traducao, 
.Substantivo,
.Adverbio,
.Traducao, 
.Substantivo {
    color: rgb(129, 28, 223);
}

.Significado,
.Verbo, 
.Pronome {
    color: blue;
}
