.fixed-width {
    width: 500px;
}

select, 
input {
    border-radius: 0 !important;
}

#ctnHist,
#ctnResult,
#ctnConfig,
#ctnMessage,
.alert,
.loading {
    display: none;
}

.form-control:focus{
    box-shadow: none;
}

#menu-item {
    font-size: 1.10rem;
}